<nav>
    <ul>
        <li><img src="http://assets.stickpng.com/images/585f9333cb11b227491c3581.png" alt=""></li>
        <li>
            <a href="/"><h1>Marvel Characters</h1></a>
        </li>
        <li><a href="/add">Cadastre um Persogem</a></li>
        <li><a href="/">Lista de Personagens</a></li>
    </ul>
</nav>